<form [formGroup]="form" (ngSubmit)="changePassword()">

    <!-- ALETAR DE ERRO | SUCESSO AO REALIZAR TROCA DE SENHA -->
    <div *ngIf="form.errors != null">
        <div class="alert alert-warning" *ngIf="form.errors?.invalidChangePassword">
            Contains Invalid Fields.
        </div>
        <div class="alert alert-success" *ngIf="!form.errors?.invalidChangePassword">
            Password Changed.
        </div>
    </div>

    <div class="form-group">
        
        <label for="oldPassword">Old Password</label>
        <input 
            formControlName="oldPassword" 
            type="password" 
            id="oldPassword" 
            class="form-control"
        >

        <!-- ALETAR DE ERRO PARA SENHA -->
        <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
            
            <!-- NÃO PREENCIDA -->
            <div *ngIf="oldPassword.errors.required">
                Old Password required.
            </div>

            <!-- NÃO CORRESPONDENTE -->
            <div *ngIf="oldPassword.errors.verifyOldPassword">
                Old Password is not valid.
            </div>
            
        </div>

    </div>

    <div formGroupName="change" class="changed">

        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input 
                formControlName="newPassword" 
                type="password" 
                id="newPassword" 
                class="form-control"
            >

            <!-- ALERTA DE ERRO PARA SENHA NÃO PREENCIDA -->
            <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
                New Password required.
            </div>
        </div>

        <div class="form-group">
            <label for="checkPassword">Confirm Password</label>
            <input 
                formControlName="checkPassword" 
                type="password" 
                id="checkPassword" 
                class="form-control"
            >

            <!-- ALERTA DE ERRO PARA SENHA NÃO PREENCHIDA -->
            <div class="alert alert-danger" *ngIf="checkPassword.touched && checkPassword.invalid">
                <div *ngIf="checkPassword.errors.required">Confirm Password required.</div>
            </div>
        </div>

        <!-- ALERTA DE ERRO PARA SENHA NÃO CORRESPONDENTE -->
        <div *ngIf="change.touched && change.invalid">
            <div class="alert alert-danger" *ngIf="checkPassword.touched && change.errors?.verifyPassowordsIsNotEquals">
                Passwords don't match.
            </div>
        </div>

    </div>

    <button class="btn btn-primary" type="submit">Change Password</button>

</form>