<h1>Angular</h1>
<hr>

<!-- 

<courses></courses>
<br>

<app-star></app-star>
<br>

<app-title></app-title>
<br>

<app-like  
[likesCount] = "tweet.likesCount"
[isLiked] = "tweet.isLiked">
</app-like>

<app-zippy title="Details 1">
    ABC DEF GHI
</app-zippy>

<app-zippy title="Details 2">
    JKL MNO PQR
</app-zippy> 

<app-contact-form></app-contact-form>

<app-course-form></app-course-form>

<app-signup-form></app-signup-form>

<app-new-course-form></app-new-course-form>

<app-change-password></app-change-password>

<app-posts></app-posts>

-->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
